.img-holder {
  width: 35%;
  overflow: hidden;
  float: right;
  /* border: 2px solid var(--main-red); */
  box-shadow: var(--light-shadow);
  margin-left: 1rem;
}

.img-holder img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 600px) {
  .img-holder {
    display: none;
  }
}
