.content {
  padding: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
  background-image: var(--grey-background);
  background-color: var(--background-color);
  box-shadow: var(--light-shadow);
}

.iframe {
  width: 40%;
  box-shadow: var(--dark-shadow);
}

.description {
  align-self: start;
  text-align: center;
}

.title,
.subtitle {
  font-family: "Rawengulk Regular";
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.subtitle a {
  font-size: 2.6rem;
  text-decoration: none;
  color: var(--main-red);
  display: inline-block;
  padding: 0.5rem 0.5rem 0rem;
  animation: pulsate 2s linear 0.3s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.title {
  font-size: 3rem;
  margin: 3rem auto 4rem;
  text-align: center;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 2.2rem;
}

.telephone,
.email {
  text-decoration: none;
  font-size: 2rem;
  background: var(--main-red);
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  box-shadow: var(--light-shadow);
  transition: box-shadow 0.3s;

  white-space: nowrap;
}

.telephone:hover,
.telephone:focus,
.email:hover,
.email:focus {
  box-shadow: var(--dark-shadow);
}

@media screen and (max-width: 992px) {
  .content {
    flex-direction: column;
    padding-top: 2rem;
  }

  .iframe {
    width: 100%;
  }

  .description {
    align-self: center;
  }
}
