.wrapper {
  padding: 2rem;
  background-image: var(--grey-background);
}

.title {
  font-size: 3rem;
  margin-top: 1rem;
}

.telephone-link {
  text-decoration: none;
  font-size: 2rem;
  background: var(--main-red);
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.subtitle {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p,
li {
  font-size: 1.7rem;
}
