.toggle-button {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 2.4rem;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 3rem;
  height: 2px;
  background: white;
  transition: all 0.3s;
}

.crossed-first {
  transform: translateY(8px) rotate(135deg);
}

.crossed-middle {
  transform: translateX(-400%);
  opacity: 0;
}
.crossed-last {
  transform: translateY(-8px) rotate(-135deg);
}
