.side-drawer {
  font-family: "Rawengulk Regular";
  font-weight: bold;
  letter-spacing: 1px;
  height: calc(100% - 5.6rem);
  background-color: white;
  box-shadow: var(--dark-shadow);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  overflow: scroll;
  background-image: var(--grey-background);
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer__items {
  padding: 3rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
}

.side-drawer li {
  margin: 0.5rem 0;
}

/* .side-drawer li:last-child {
  margin-bottom: 2rem;
} */

.sidebar__navigation-link {
  color: var(--main-red);
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.sidebar__navigation-submenu-items {
  background: transparent;
  margin: 0;
  list-style: none;
  padding: 0rem 0.5rem;
  padding-left: 1rem;
  height: 0px;
  overflow: hidden;
  transform-origin: top;
  flex-direction: column;
  gap: 0.8rem;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

input:checked + .types {
  height: 10.9rem;
  margin-top: 1.3rem;
}
input:checked + .physicians {
  height: 14.8rem;
  margin-top: 1.3rem;
}

input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 375px) {

  .side-drawer__items {
    padding: 1.5rem 3rem;
  }

  .sidebar__navigation-submenu-items {
    gap: 0.65rem;
  }
}
