:root {
  --main-red: #da251c;
  --light-red: hsl(3, 77%, 58%);
  --main-green: green;
  --grey-background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-image: var(--grey-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
