@font-face {
  font-family: "Rawengulk Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Rawengulk Bold"), url("fonts/RawengulkBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rawengulk Demibold";
  font-style: normal;
  font-weight: normal;
  src: local("Rawengulk Demibold"),
    url("fonts/RawengulkDemibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rawengulk Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Rawengulk Regular"),
    url("fonts/RawengulkRegular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rawengulk Petitecaps";
  font-style: normal;
  font-weight: normal;
  src: local("Rawengulk Petitecaps"),
    url("fonts/RawengulkPcs.woff") format("woff");
  font-display: swap;
}

:root {
  --main-red: #da251c;
  --light-red: hsl(3, 77%, 58%);
  --main-green: green;
  --grey-background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --background-color: #dbe2ec;
  --light-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --dark-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
    0 6px 20px 0 rgba(0, 0, 0, 0.285);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-image: var(--grey-background); */
  background-color: var(--background-color);
  /* background-size: cover; */

  background-repeat: no-repeat;

  font-family: "Rawengulk Demibold", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
