.img-holder {
  flex: 0 0 50%;
  overflow: hidden;
  align-self: center;
  box-shadow: var(--light-shadow);
  margin-left: 1rem;
}

.img-holder img {
  width: 100%;
  display: block;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .img-holder {
    display: none;
  }
}
